@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebsiteBeverageDemo.Models.SanPham>
@{
	ViewData["Title"] = "Home Page" + ViewBag.CurrentPage;
	int PageCurrent = ViewBag.CurrentPage;
	int PageNext = PageCurrent + 1;
}
<section class="breadcrumb-section set-bg" data-setbg="../Assets/img/bd-home.jpg" style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="breadcrumb__text">
					<h2>Beverage</h2>
					<div class="breadcrumb__option">
						<a href="#">Home</a>
						<span>Shop</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="categories">
	<div class="container">
		<div class="row">
			<div class="categories__slider owl-carousel">
				<div class="col-lg-3">
					<div class="categories__item set-bg" style="width: 250px; margin-top: 40px !important" data-setbg="../Assets/img/product/discount/pd-sinh-to.jpg">
						<h5><a href="#">Sinh tố</a></h5>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="categories__item set-bg" style="width: 250px; margin-top: 40px !important" data-setbg="../Assets/img/product/discount/pd-tra-sua.jpg">
						<h5><a href="#">Trà sữa</a></h5>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="categories__item set-bg" style="width: 250px; margin-top: 40px !important" data-setbg="../Assets/img/product/discount/pd-nuoc-ngot.jpg">
						<h5><a href="#">Nước ngọt</a></h5>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="categories__item set-bg" style="width: 250px; margin-top: 40px !important" data-setbg="../Assets/img/product/discount/pd-sua-tuoi.jpg">
						<h5><a href="#">Sữa</a></h5>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="categories__item set-bg" style="width: 250px; margin-top: 40px !important" data-setbg="../Assets/img/product/discount/pd-nuoc-ep.jpg">
						<h5><a href="#">Nước ép</a></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Featured Product</h2>
				</div>
				<div class="featured__controls">
					<ul>
						<li class="active" data-filter="*">All</li>
						<li data-filter=".oranges">Oranges</li>
						<li data-filter=".fresh-meat">Fresh Meat</li>
						<li data-filter=".vegetables">Vegetables</li>
						<li data-filter=".fastfood">Fastfood</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row featured__filter">
			@if (Model != null && Model.Count() > 0)
			{
				foreach (var item in Model)
				{
					string url = $"/{item.TenSp}-{item.MaSp}.html";
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="../images/products/@item.AnhSp">
								<ul class="product__item__pic__hover">
									<li><a href="#"><i class="fa fa-heart"></i></a></li>
									<li><a href="#"><i class="fa fa-retweet"></i></a></li>
									<li class="add-to-cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6><a href="@url">@item.TenSp</a></h6>
								<h5>@item.GiaBan.Value.ToString("#,##0") VNĐ</h5>
							</div>
						</div>
					</div>
				}
			}
			<div class="pagination-area pt-10">
				<ul class="pagination justify-content-center">
					<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-area="" asp-controller="Home" asp-action="Index" />
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="banner__pic">
					<img src="../Assets/img/banner/banner-4.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="banner__pic">
					<img src="../Assets/img/banner/banner-6.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="latest-product__text">
					<h4>Latest Products</h4>
					<div class="latest-product__slider owl-carousel">
						<div class="latest-prdouct__slider__item">
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
						</div>
						<div class="latest-prdouct__slider__item">
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="latest-product__text">
					<h4>Top Rated Products</h4>
					<div class="latest-product__slider owl-carousel">
						<div class="latest-prdouct__slider__item">
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
						</div>
						<div class="latest-prdouct__slider__item">
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="latest-product__text">
					<h4>Review Products</h4>
					<div class="latest-product__slider owl-carousel">
						<div class="latest-prdouct__slider__item">
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
						</div>
						<div class="latest-prdouct__slider__item">
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
							<a href="#" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="../Assets/img/product/discount/pd-tra-sua.jpg" alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>Crab Pool Security</h6>
									<span>$30.00</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title from-blog__title">
					<h2>From The Blog</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="blog__item">
					<div class="blog__item__pic">
						<img src="../Assets/img/blog/blog-1.jpg" alt="">
					</div>
					<div class="blog__item__text">
						<ul>
							<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
							<li><i class="fa fa-comment-o"></i> 5</li>
						</ul>
						<h5><a href="#">Cooking tips make cooking simple</a></h5>
						<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="blog__item">
					<div class="blog__item__pic">
						<img src="../Assets/img/blog/blog-2.jpg" alt="">
					</div>
					<div class="blog__item__text">
						<ul>
							<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
							<li><i class="fa fa-comment-o"></i> 5</li>
						</ul>
						<h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
						<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="blog__item">
					<div class="blog__item__pic">
						<img src="../Assets/img/blog/blog-3.jpg" alt="">
					</div>
					<div class="blog__item__text">
						<ul>
							<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
							<li><i class="fa fa-comment-o"></i> 5</li>
						</ul>
						<h5><a href="#">Visit the clean farm in the US</a></h5>
						<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Blog Section End -->